body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Custom CSS */
p{
    margin:0;
}
.navbar-fixed-top {
    background: #2d2d2d !important;
    z-index: 1;
}
img {
    width: 100%;
}
.logo a{
    width: 50px;
}
.navbar .menu{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.navbar .menu #navbarSupportedContent ul li{
    padding: 0 20px;
}
.navbar .login-form p {
    color: #fff;
}
.logo .navbar-brand{
    color: #fff;
    font-size: 34px;
}