@model IEnumerable<demoo.Models.thongtinmathang>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
       @{ foreach ( var item in Model)
           {
               <div class="col-4">
                   <img src="~/Images/@item.url_image"/>
                   <h2>@item.tenmh</h2>
                   <p>@item.giaban</p>
               </div>
           }

       }
</div>